</div>
  <footer>Copyright - rTorrent GUI - remyr</footer>
</body>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    $(".button-collapse").sideNav();
    $('select').material_select();
  });
</script>
<script src="/assets/js/bundle.js"></script>
<!--<script src="/index_bundle.js"></script>-->
</html>