<header>
    <div class="logo-box">rTorrent</div>
    <div class="header-content">
        <div class="mobile-menu">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <!--<li><a href="/"><i class="material-icons">home</i>Accueil</a></li>-->
                <li><a href="/rtorrent/"><i class="material-icons">cloud_download</i>rTorrent</a></li>
            </ul>
        </div>
        <div class="header-content-title">rTorrent</div>
    </div>
</header>
