<div class="sidebar">

<!--    <div class="sidebar-item">
        <a href="/"><i class="material-icons">home</i></a>
        <span class="tooltiptext">Accueil</span>
    </div>-->

    <div class="sidebar-item <% if(current_page === 'rtorrent'){ %>sidebar-item-selected<% } %>">
        <a href="/rtorrent/"><i class="material-icons">cloud_download</i></a>
        <span class="tooltiptext">rTorrent</span>
    </div>

</div>